{% extends 'stable/base.html' %}
{% block content %}
<p>
  Horseriding club 'Sokol - Dupci'(KKSD) allows session bookings via
  a web application.
</p>

<p>
  Private data required by the web application:
</p>

<p>
  Your name, surname, username and password.
</p>

<p>Your private data processing:</p>

<p>The application uses your private data
to book a horse at a specific time.</p>

<p>
  The application uses your private data to disallow
  accidental double bookings.
</p>

<p>Your requested booking has to be approved
by the administrator.</p>

<p>
  Barring your account password, the Administrator is
  the only person with full access to your complete private data array.
</p>

<p>
  Registered users are allowed access to the bookings timetable.
  The actual identifiers(name, surname) linking specific persons
  to their corresponding bookings are withheld from this view.
</p>

<p>
  Expired bookings, be they approved or only requested are automatically
  deleted.
</p>

<p>
  You may remove your requested bookings which have not yet
  been accepted.
</p>

<p>
  Approved bookings may only be cancelled 24 hours in advance.
</p>

<p>
  Private and public messages:
</p>

<p>
  The administrator may send you private and/or public messages.
</p>

<p>
  All private and public messages are automatically deleted
  after 7 days.
</p>

<p>
  You may remove your own private messages.
</p>

<p>
  Public messages cannot be removed by the end user.
</p>

<p>
  Your profile:
</p>

<p>
  You may delete your own profile.
</p>

<p>Account deletion entails the automatic and immediate erasure of your private
  data array, barring any private data which may or may
  not be contained within the public messages.
</p>

<p>
  In case of forgotten login data(username, password) you may
  petition the administrator for a new profile creation or deletion.
</p>

<p>
  The administrator retains the privilege of removing your profile
  for any undisclosed reason.
</p>

<p>
  Within the framework of your profile, you are allowed access to your
  data, including:
</p>

<p>
  Name, surname, username, password, private and public messages, booking
  timetable data.
</p>

<p>
  Horseriding club 'Sokol Dupci'(KKSD) is neither responsible, nor liable
  for any damages incurred by the potential private data loss.
</p>
{% endblock content %}
